body {
  margin: 0;
  font-family: "Poppins", Arial;
  background: #fdeef7;
}

/* COVER PAGE */
#cover {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(135deg, #ffb6d9, #ffd6e8, #ffe5f3);
  color: white;
  text-align: center;
  padding: 20px;
}
#cover h1 {
  font-size: 42px;
  margin: 0 0 10px;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
#cover p {
  font-size: 18px;
  opacity: 0.9;
}
#nextBtn {
  padding: 12px 30px;
  margin-top: 22px;
  border: none;
  border-radius: 40px;
  background: #fff;
  color: #ff77b4;
  font-weight: 700;
  cursor: pointer;
  font-size: 17px;
  box-shadow: 0 6px 12px rgba(255, 105, 180, 0.3);
  transition: 0.2s;
}
#nextBtn:hover {
  transform: scale(1.05);
}

/* MAIN PAGE */
#main {
  display: none;
  padding: 30px;
  max-width: 430px;
  margin: auto;
  background: #fff0fa;
  border-radius: 20px;
  margin-top: 30px;
  box-shadow: 0 8px 20px rgba(255, 105, 180, 0.15);
}
h2 {
  text-align: center;
  color: #ff77b4;
}

select, button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 15px;
  border: 2px solid #ffc3dd;
  font-size: 16px;
  background: #fff;
  color: #444;
}
button {
  background: #ff9cc9;
  color: white;
  border: none;
  font-weight: 600;
  box-shadow: 0 4px 10px rgba(255, 105, 180, 0.3);
  transition: 0.2s;
}
button:hover {
  transform: scale(1.03);
}

/* ROUTINE BOX */
.routine-box {
  margin-top: 20px;
  background: #ffebf4;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #ffd1e6;
  box-shadow: 0 5px 15px rgba(255, 182, 193, 0.15);
}
.step {
  background: white;
  padding: 10px;
  margin: 8px 0;
  border-left: 5px solid #ff77b4;
  border-radius: 10px;
  font-size: 15px;
}
input[type="text"] {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 15px;
  border: 2px solid #ffc3dd;
  font-size: 16px;
  background: #fff;
  color: #444;
}
label {
  display: block;
  margin-top: 20px;
  font-weight: 600;
  color: #ff77b4;
}
